@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Varela&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
  position: center;
  /* right: 10px;
  top: 10px; */
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease;
}

.navbar.sticky {
  padding: 15px 0;
  background: pink;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .navbar .logo a {
  color: black;
  font-size: 35px;
  font-weight: 600;
  /* position: absolute;
  left: 10px;
  top: 10px; */
/* } */

/* .navbar .logo a span {
  color: rgb(236, 129, 147);
}  */

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: black;
  font-size: 18px;
  font-weight: 300;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: rgb(236, 129, 147);
}

.menu-btn div {
  height: 4px;
  background-color: black;
  margin: 5px 0;
  border-radius: 10px;
}

.menu-btn {
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
  display: none;
}

.one .two .three {
  width: 30px;
}

.home {
  display: flex;
  height: 100vh;
  color: black;
  min-height: 500px;
  font-family: "Montserrat", sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 40px;
}

.home .home-content .text-2 {
  font-size: 40px;
}

.home .home-content .text-3 {
  font-size: 40px;
}

.home .home-content .text-3 span {
  color: rgb(236, 129, 147);
  font-weight: 400;
}

section {
  padding: 100px 0;
}

.about {
  font-family: "Montseratt", sans-serif;
}

.about .about-title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Montseratt", sans-serif;
}

.about .about-title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

.about .about-content .column-left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

@media (max-width: 945px) {
  .max-width {
    padding: 0 10px;
  }
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background-color: pink;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}
