@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Varela&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  /* background: white; */
  font-family: "Montserrat", sans-serif;
}

.navbar.sticky {
  padding: 30px 0;
  background: pink;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: black;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: rgb(236, 129, 147);
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: black;
  font-size: 18px;
  font-weight: 300;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: rgb(236, 129, 147);
}

.home {
  display: flex;
  height: 100vh;
  color: black;
  min-height: 500px;
  font-family: "Montserrat", sans-serif;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 40px;
}

.home .home-content .text-2 {
  font-size: 40px;
}

.home .home-content .text-3 {
  font-size: 40px;
}

.home .home-content .text-3 span {
  color: rgb(236, 129, 147);
  font-weight: 400;
}
